<div class="container">
    <mat-card class="mt-5 mx-4 py-4">
        <!-- <button (click)="sendData( )">Click</button> -->
        <mat-card-header>
            <mat-card-title class="fw-bold">
                General Questions
            </mat-card-title>
        </mat-card-header>
        <mat-card-content >

            <div class="container h-100 w-100">
                <small class="">Select one answer in each row</small>
                <ng-container *ngFor="let query of questions">
                    <form [formGroup]="form">
                        <div class="question-container border-top border-dark p-1 py-2">
                            <div class="container-2 d-flex justify-content-between">
                                <p class="question w-50">{{query.question}}</p>
                                <div class="w-50">
                                    <ng-container *ngIf="query.type=='mcq' else inputBox">
                                        <mat-radio-group formControlName="{{query.formControlName}}">
                                            <ng-container *ngFor="let label of query.options">
                                                <mat-radio-button value="{{label}}">{{label}}</mat-radio-button>
                                            </ng-container>
                                        </mat-radio-group>
                                    </ng-container>
                                    <ng-template #inputBox>
                                      <input type="{{query.inputType}}" formControlName="{{query.formControlName}}" class="fill-up mt-2" placeholder="{{query.placeholder}}">
                                    </ng-template>
                                
                                </div>
                            </div>
                            <div class="meaning d-flex align-item-center">
                                <i class="fa fa-exclamation-circle me-1 my-auto"
                                    style="font-size:1.2rem;color:rgb(10 40 199)"></i>
                                <p class="font-3 my-auto text-2">What does it means?</p>
                            </div>
    
    
                        </div>
                    </form>
                   
                </ng-container>

            </div>
        

        </mat-card-content>


    </mat-card>

</div>