.example-form {
  min-width: 100%;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.ms-n5 {
  margin-left: -40px;
  z-index: 100;
}

.spinner-margin {
  margin-left: -20%;
  margin-top: 50%;
  z-index:100;
}