<div class="container">
    <mat-card class="mt-5 mx-4 border border-primary border-2">
        <mat-card-header class="mx-0">
            <mat-card-title>
                <h1 class="fw-bold ms-3">DiabetesGuard</h1>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="w-100 h-100">

            <div class="d-flex justify-content-between w-100 h-100">
                <div class="content-container w-50 h-100 p-4">
                    <h3 class="fw-bold">Personalized Diabetes Treatment Plan</h3>
                    <div>
                        <p class="font-3">Take a short assessment of your current health condition and get personalised
                            treatment plan
                            for
                            your
                            Diabetes. The information you give is safe and won’t be shared. Your
                            results will include:</p>
                        <ul>
                            <li style="list-style:disc" class="ms-4 font-3">Medications for controlling your diabetes
                            </li>
                        </ul>
                    </div>

                    <div class="mt-4">
                        <h3 class="fw-bold">About this tool</h3>
                        <ul>
                            <li class="font-3"><i class="fa-solid fa-check text-success mx-2"></i>
                                This symptom assessment tool was created and validated by doctors to ensure its accuracy
                                and
                                reliability.</li>
                            <li class="font-3"><i class="fa-solid fa-check text-success  mx-2"></i>
                                The tool is clinically validated using real patient cases, offering insightful results.
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="image-container w-50 h-100 p-5">
                    <img src="../../../../assets/images/doctornurse-svgrepo-com.svg" alt="" class="w-100 h-100">
                 
                </div>
            </div>


        </mat-card-content>
    </mat-card>


</div>