<div class="container">
    <mat-card class="mt-5 mx-4">
        <mat-card-header class="mx-0">
            <mat-card-title>
                Blood Sugar Tests
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="h-90 w-100">
            <div class="content-container h-100 w-100">
               
                    <small>Please enter the results of your recent tests.</small>
                   
                        <div class="tests-container row">
                           <div class="test col-5 p-3 mt-4 m-2 border border-dark d-flex">
                              <label for="" class="font-1 me-4">Fasting Blood Sugar Test</label>
                              <input type="text" name="" id="" class="w-50 fill-up">
                              <span class="font-1">mg/dL</span>
                           </div>
                           <div class="test col-5 p-3 mt-4 m-2 border border-dark d-flex">
                              <label for="" class="font-1 me-4">Hb1Ac Test</label>
                              <input type="text" name="" id="" class="w-50 fill-up">
                              <span class="font-1">mg/dL</span>
                           </div>
                        </div>

                
                <!-- <div class="right-content">
                    <img src="../../../../assets/images/glucometer.jpg" alt="" style="height: 200px; width:200px">
                </div> -->
            </div>



        </mat-card-content>
    </mat-card>


</div>