<div class="container">
    <mat-card class="mt-5 mx-4">
        <mat-card-header class="mx-0">
            <mat-card-title>
                Blood Sugar Tests
            </mat-card-title>
        </mat-card-header>
        <mat-card-content class="h-90 w-100">
            <small>Please enter the results of your recent tests.</small>
            <div class="content-container h-100 w-100 d-flex">

                

                <div class="tests-container w-50">
                    <form [formGroup]="bloodTestForm">
                        <div class="test col-5 p-3 py-4 question-container w-75 m-2 mt-4 border border-dark d-flex">
                            <label for="" class="font-1 form-label me-4 question">Fasting Test</label>
                            <input type="text" formControlName="fastingTest" id="" class="w-50 fill-up" min="65" max="135">
                            <span class="font-1 question ms-1">mg/dL</span>
                        </div>
                        <div class="test col-5 p-3 py-4 w-75 m-2 question-container mt-5 border border-dark d-flex">
                            <label for="" class="font-1 me-4 form-label question">Hb1Ac Test</label>
                            <input type="text" formControlName="hb1Ac"  id="" class="w-50 fill-up" min="4" max="10">
                            <span class="font-1 question ms-1">mg/dL</span>
                        </div>
                    </form>          
                </div>



                <div class="right-content w-50 ">
                    <img src="../../../../assets/images/glucometer.jpg" alt="" >
                </div>
            </div>



        </mat-card-content>
    </mat-card>


</div>